<style>
    .dropbtn {
        background-color: orange;
        color: white;
        padding: 5px;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: darkorange;}
</style>
<div class="container">
    <div class="sidebar-container">
        <div class="content">
            <section class="section-long">
                <div class="section-line">
                    <div class="movie-info-entity">
                        <div class="entity-poster" data-role="hover-wrap">
                            <div class="embed-responsive embed-responsive-poster">
                                <div data-bind="foreach: titleData">
                                    <img class="embed-responsive-item" data-bind="attr:{src: poster}" alt=""/>
                                </div>

                            </div>
                            <div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show"
                                 data-hide-class="fadeOut show">
                                <div class="entity-play">
                                    <a class="action-icon-theme action-icon-bordered rounded-circle"
                                       href="https://www.youtube.com/watch?v=d96cjJhvlMA" data-magnific-popup="iframe">
                                        <span class="icon-content"><i class="fas fa-play"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="entity-content">
                            <div data-bind="foreach: titleData"><h2 class="text-theme"
                                                                    data-bind="text: primaryTitle"></h2></div>

                            <div class="entity-category" data-bind="foreach: titleGenreData">
                                <a class="content-link" data-bind="text: name"></a>,
                            </div>
                            <div class="entity-info">
                                <div class="info-lines" data-bind="foreach: titleData">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                        <span class="info-text" data-bind="text: rating"></span>
                                        <span class="info-rest">/10</span>
                                    </div>
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-clock"></i></span>
                                        <span class="info-text" data-bind="text: runtime"></span>
                                        <span class="info-rest">&nbsp;min</span>
                                    </div>
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i class="fas fa-dot-circle"></i></span>
                                        <span class="info-text">Adult movie: </span>
                                        <span class="info-text" data-bind=", ifnot: isAdult">no</span>
                                        <span class="info-text" data-bind=", if: isAdult">yes</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="entity-list">
                                <li>
                                    <div class="rating"></div>
                                </li>
                                <li>
                                    <div data-bind="foreach: titleData">
                                    <span class="entity-list-title" style="display: inline-block">Release: 
                                     <a class="content-link" data-bind="text: startYear"></a>
                                    </span></div>
                                </li>
                                <li>
                                    <span class="entity-list-title">Starring:</span>
                                    <div data-bind="foreach: titlePersonData"><a class="goToPeoplePage" href="#"
                                                                                 data-bind="value: id"><p
                                            data-bind="text: name" style="display: inline-block; color: white;"></p></a>,
                                    </div>
                                </li>
                                <li>
                                    <div data-bind="foreach: titleData">
                                    <div data-bind="with: regions">
                                    <span class="entity-list-title" >Country: </span>
                                        <p data-bind="text: $data" style="display: inline-block; color: white"></p>
                                    </div>
                                    </div>
                                </li>
                                <li>
                                    <div data-bind="foreach: titleData">
                                        <div data-bind="with: languages">
                                            <span class="entity-list-title" >Language: </span>
                                            <p data-bind="text: $data" style="display: inline-block; color: white"></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-warning btn-rounded dropbtn">Add to list</button>
                                        <div class="dropdown-content" data-bind="foreach: bookmarkList">
                                            <a href="#" class="addToBookmark info-text" data-bind="value: id, text: listName"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="section-head">
                        <h2 class="section-title text-uppercase" style="padding-top: 1.5rem" ;>Synopsis</h2>
                    </div>
                    <div class="section-description">
                        <div data-bind="foreach: titleData"><p class="lead"  data-bind="text: plot"
                                                               style="color:white;"></p></div>
                    </div>
                    <div class="section-line">
                        <div class="section-head">
                            <h2 class="section-title text-uppercase">Similar Titles</h2>
                        </div>
                        <div class="grid row" data-bind="foreach: similarTitles">
                            <div class="col-sm-6 col-xl-4">
                                <div class="gallery-card-entity">
                                    <div class="entity-preview" data-role="hover-wrap">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <img class="embed-responsive-item" data-bind="attr:{src: poster}" alt=""/>
                                        </div>
                                        <div class="d-over bg-black-40 collapse animated faster"
                                             data-show-class="fadeIn show" data-hide-class="fadeOut show">
                                            <div class="entity-view-popup">
                                                <a class="content-link action-icon-bordered rounded-circle"
                                                   data-bind="attr:{href: poster}" data-magnific-popup="image">
                                                    <span class="icon-content"><i class="fas fa-search"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entity-content">
                                        <a class="goFromMovieToMovie" href="#" data-bind="value: id">
                                            <h4 class="entity-title" data-bind="text: titleName"
                                                style="color: white;"></h4>
                                            <p class="entity-subtext" data-bind="text: parentTitleName"
                                               style="color: white;"></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-line">
                        <div class="section-head">
                            <h2 class="section-title text-uppercase">ALTERNATIVE TITLES</h2>
                            <table class="table table-sm table-dark">
                                <thead>
                                <tr>
                                    <th scope="col">Region</th>
                                    <th scope="col">Title</th>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach: alternativeTitle">
                                <tr >
                                    <td data-bind="text: region"></td>
                                    <td data-bind="text: name"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section-bottom">
                        <div class="row">
                            <div class="mr-auto col-auto">
                                <div class="entity-links">
                                    <div class="entity-list-title">Share:</div>
                                    <a class="content-link entity-share-link" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="content-link entity-share-link" href="#"><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="content-link entity-share-link" href="#"><i
                                            class="fab fa-google-plus-g"></i></a>
                                    <a class="content-link entity-share-link" href="#"><i
                                            class="fab fa-pinterest-p"></i></a>
                                    <a class="content-link entity-share-link" href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<a class="scroll-top disabled" href="#"><i class="fas fa-angle-up" aria-hidden="true"></i></a>