<style>
    .dropbtn {
        background-color: orange;
        color: white;
        padding: 5px;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: darkorange;}
</style>
<body>
<!--  USERS INFORMATION  -->
    <div class="container">
        <h1>Welcome to your page!</h1>
        <br>
        <form class="updateProfile" method="post" data-bind="with: user">
            <label for="surname"> First name: </label>
            <input type="text" id="surname" required name="surname" data-bind="value: surname"><br>
            <label for="lastname">Last name: </label>
            <input type="text" id="lastname" required name="lastname" data-bind="value: lastname"><br>
            <label for="age">Age: </label>
            <input type="number" id="age" required name="age" min="1" max="99" data-bind="value: age"><br>
            <label for="email">Email: </label>
            <input type="email" id="email" required name="email" data-bind="value: email"><br><br>
            <input type="submit" value="Save changes">
        </form>
        <br>
        
        <!--    UPDATE PASSWORD    -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateBtn">Update Password</button>
        <div class="modal fade" id="updateBtn" tabindex="-1" role="dialog" aria-labelledby="updateBtnLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBtnLabel">UPDATE PASSWORD</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Please enter your username, old password and a new password:
                        <form class="updatePWForm" method="post">
                            <label for="username"> Username: </label>
                            <input type="text" id="username" required name="username"><br>
                            <label for="password"> Old password: </label>
                            <input type="password" id="password" required name="password"><br>
                            <label for="newpassword">New password: </label>
                            <input type="password" id="newpassword" required name="newpassword"><br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                                <button type="submit" class="btn btn-primary" id="confirmNewPassword">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!--    DELETE ACCOUNT     -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteBtn">Delete Account</button>
        <div class="modal" id="deleteBtn" tabindex="-1" role="dialog" aria-labelledby="deleteBtnLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteBtnLabel">DELETE ACCOUNT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        WARNING: ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button type="button" class="btn btn-primary" id="confirmDelete">Yes, delete my account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<!-- SEE YOUR RATINGS -->
    <div class="container">
        <h1>Showing all of your ratings here: </h1>
        <br>
        <dl data-bind="foreach: userRatingList">
            <dt>
                <a data-bind="attr: {href: url}, text: titleName"></a>
                (<span data-bind="text: prodYear"></span>) &nbsp; | &nbsp;
                <!-- HOVER TO SET NEW RATING -->
                <div class="dropdown">
                    Your rating: <button class="dropbtn" data-bind="text: rating" ></button>
                    <div class="dropdown-content">
                        <a data-bind="attr: {href: updateUrl+1}, text: 1"></a>
                        <a data-bind="attr: {href: updateUrl+2}, text: 2"></a>
                        <a data-bind="attr: {href: updateUrl+3}, text: 3"></a>
                        <a data-bind="attr: {href: updateUrl+4}, text: 4"></a>
                        <a data-bind="attr: {href: updateUrl+5}, text: 5"></a>
                        <a data-bind="attr: {href: updateUrl+6}, text: 6"></a>
                        <a data-bind="attr: {href: updateUrl+7}, text: 7"></a>
                        <a data-bind="attr: {href: updateUrl+8}, text: 8"></a>
                        <a data-bind="attr: {href: updateUrl+9}, text: 9"></a>
                        <a data-bind="attr: {href: updateUrl+10}, text: 10"></a>
                        <!-- https://docs.microsoft.com/en-us/aspnet/web-api/overview/older-versions/using-web-api-1-with-entity-framework-5/using-web-api-with-entity-framework-part-5 -->
                        <!-- <input type="button" value="Update" data-bind="click: $root.update"/> -->
                    </div>
                </div>
            </dt>
            <img width="140px" height="210px" data-bind="attr:{src: poster}">
            <div data-bind="text: plot"></div>
            <br>
        </dl>
    </div>
    
    <!-- SEE YOUR BOOKMARK LISTS -->
    <br>
    <br>
    <div class="container">
        <h1>Showing all of your lists here: </h1>
        <br>
        <ul data-bind="foreach: bookmarkList">
            <li>
                        <a data-bind="attr: {href: url}, text: listName"></a>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <span data-bind="value: type" id="type"></span>
                        <button type="button" data-toggle="modal" data-target="#deleteList"> : </button>
                        <div class="modal" id="deleteList" tabindex="-1" role="dialog" aria-labelledby="deleteListLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteListLabel">EDIT LIST</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ARE YOU SURE YOU WANT TO DELETE THIS LIST?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                                        <button type="button" class="deleteBookmarkList" data-bind="value: id">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--<span type="button" class="deleteBookmarkList" data-bind="value: id" style="cursor: pointer">:</span>-->
            </li>
        </ul>
        
    </div>

</body>