<style>
    .dropbtn {
        background-color: orange;
        color: white;
        padding: 5px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: darkorange;
    }
</style>

<!--  USERS INFORMATION  TODO: USE BOOTSTRAP FORMS!-->


<div class="container">
    <div class="sidebar-container">
        <div class="content">

            <section class="section-long" data-bind="visible: loggedIn().length >= 1">
                <div class="section-line">
                    <div class="movie-info-entity">
                        <div class="entity-poster" data-role="hover-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="orange"
                                 class="bi bi-person" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                        </div>
                        <div class="entity-content">
                            <div data-bind="with: user"><h2 class="text-theme" data-bind="text: username"></h2></div>
                            <br>
                            <div class="entity-info">
                                <div class="info-lines" data-bind="with: user">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i>FIRSTNAME</i></span>
                                        <span class="info-text" data-bind="text: surname"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="info-lines" data-bind="with: user">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i>LASTNAME</i></span>
                                        <span class="info-text" data-bind="text: lastname"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="info-lines" data-bind="with: user">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i>AGE:</i></span>
                                        <span class="info-text" data-bind="text: age"></span>
                                    </div>
                                </div>
                                <br>
                                <div class="info-lines" data-bind="with: user">
                                    <div class="info info-short">
                                        <span class="text-theme info-icon"><i>EMAIL:</i></span>
                                        <span class="info-text" data-bind="text: email"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="section-long" data-bind="visible: loggedIn().length == 0">
                <div class="section-line">
                    <div class="movie-info-entity">
                        <div class="entity-poster" data-role="hover-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="orange"
                                 class="bi bi-person" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                        </div>
                        <div class="entity-content">
                            <div><h2 class="text-theme">YOU ARE NOT LOGGED IN!</h2></div>
                            <button class="btn btn-warning" id="changeContentToLogin">Login</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<a class="scroll-top disabled" href="#"><i class="fas fa-angle-up" aria-hidden="true"></i></a>




<!-- DENNE SKAL HENVISE TIL UPDATE USER SIDEN-->
<div class="entity-content">
    <button class="btn btn-warning" id="changeContentToUpdate">Update User</button>
</div>




<!-- DENNE SKAL HENVISE TIL UPDATE USER SIDEN-->
<div class="entity-content">
    <button class="btn btn-warning" id="logOutButton">Logout</button>
</div>






<!-- SEE YOUR RATINGS -->
<div>
    <h1>Showing all of your ratings here: </h1>
    <br>
    <dl data-bind="foreach: userRatingList">
        <dt>
            <a href="#" class="gotomoviepage" data-bind="value: title_id, text: titleName">x</a>
            <!--<a data-bind="attr: {href: url}, text: titleName"></a>-->
            (<span data-bind="text: prodYear"></span>) &nbsp; | &nbsp;
            <!-- HOVER TO SET NEW RATING -->
            <div class="dropdown">
                Your rating:
                <button class="dropbtn" data-bind="text: rating"></button>
                <div class="dropdown-content">
                    <a class="updateRating" data-bind="value: title_id, text: 1"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 2"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 3"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 4"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 5"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 6"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 7"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 8"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 9"></a>
                    <a class="updateRating" data-bind="value: title_id, text: 10"></a>
                </div>
            </div>
        </dt>
        <img width="140px" height="210px" data-bind="attr:{src: poster}">
        <div data-bind="text: plot"></div>
        <br>
    </dl>
    <br>
    <br>
</div>

<!-- SEE YOUR BOOKMARK LISTS -->


    <div class="container">
        <div class="sidebar-container">
               
                <div class="content">
                <section class="section-long" data-bind="visible: loggedIn().length >= 1">
                    <div>
                        <h2 class="text-theme">Showing all of your lists here: </h2>
                        <br>
                        <a type=button href="#" class="btn btn-warning" id="gotonewlist">CREATE A NEW LIST</a>
                        <br>
                        <br>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th></th>

                            <th scope="col">TYPE</th>
                            <th>LIST NAME</th>
                            <th>OPTIONS</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: bookmarkList">
                        <tr class="table-active">
                            <th scope="row"></th>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="orange" class="bi bi-book-half" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                            </td>.
                            <td>
                                <a class="gotolist" href="#" data-bind="value: id, text: listName" style="font-size:30px !important;"></a>
                            </td>
                            <td>
                                <button type="button" class="deleteBookmarkList btn btn-warning" data-bind="value: id">Delete List</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <ul data-bind="foreach: bookmarkList">
        <li>
            <!--<a data-bind="attr: {href: url}, text: listName"></a>-->
            <a class="gotolist" href="#" data-bind="value: id, text: listName" style="font-size:20px !important;">
            </a>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="deleteBookmarkList" data-bind="value: id">Delete List</button>

        </li>
    </ul>

<!--DOESNT DO ANYTHING, BUT MESSES UP THE REST OF THE HTML IF ITS REMOVED?-->
<form style="display: none">
    <input  id="surname">
    <input  id="lastname" >
    <input  id="age">
    <input  id="email">
</form>

<form style="display: none">
    <input id="username">
</form>
<!--DOESNT DO ANYTHING, BUT MESSES UP THE REST OF THE HTML IF ITS REMOVED?-->