<style>
    .dropbtn {
        background-color: orange;
        color: white;
        padding: 5px;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: darkorange;}
</style>
<body>
                        <!--  USERS INFORMATION  -->
    <div class="container" data-bind="user">
        <h1>Your information</h1>
        <br>
        <form       class="yourinfo_form"        method="POST">
            <input  type="text"      id="surname"    required name="surname"   placeholder="First Name"  data-bind="value: surname" >
            <input  type="text"      id="lastname"   required name="lastname"  placeholder="Last Name"   data-bind="value: lastname"  >
            <input  type="number"    id="age"        required name="age"       placeholder="Age"         data-bind="value: age"  min="1" max="99" >
            <input  type="email"     id="email"      required  name="email"    placeholder="Email"       data-bind="value: email" >
            <input  type="text"      id="username"   required name="username"  placeholder="Username"    data-bind="value: username" >
            <input  type="password"  id="password"   required name="password"  placeholder="Password"    data-bind="value: password" >
            <input  type="submit"                    class="serializeArray">
        </form>
    </div>
                        <!-- SEE YOUR RATINGS -->
    <div class="container">
        <h1>Showing all of your ratings here: </h1>
        <br>
        <dl data-bind="foreach: userRatingList">
            <dt>
                <a data-bind="attr: {href: url}, text: titleName"></a>
                (<span data-bind="text: prodYear"></span>) &nbsp; | &nbsp;
                <!-- HOVER TO SET NEW RATING -->
                <div class="dropdown">
                    Your rating: <button class="dropbtn" data-bind="text: rating" ></button>
                    <div class="dropdown-content">
                        <a data-bind="attr: {href: updateUrl+1}, text: 1"></a>
                        <a data-bind="attr: {href: updateUrl+2}, text: 2"></a>
                        <a data-bind="attr: {href: updateUrl+3}, text: 3"></a>
                        <a data-bind="attr: {href: updateUrl+4}, text: 4"></a>
                        <a data-bind="attr: {href: updateUrl+5}, text: 5"></a>
                        <a data-bind="attr: {href: updateUrl+6}, text: 6"></a>
                        <a data-bind="attr: {href: updateUrl+7}, text: 7"></a>
                        <a data-bind="attr: {href: updateUrl+8}, text: 8"></a>
                        <a data-bind="attr: {href: updateUrl+9}, text: 9"></a>
                        <a data-bind="attr: {href: updateUrl+10}, text: 10"></a>
                    </div>
                </div>
            </dt>
            <img width="140px" height="210px" data-bind="attr:{src: poster}">
            <div data-bind="text: plot"></div>
            <br>
        </dl>
    </div>
    
    <!-- SEE YOUR BOOKMARK LISTS -->
    <br>
    <br>
    <div class="container">
        <h1>Showing all of your lists here: </h1>
        <br>
        <ul data-bind="foreach: bookmarkList">
            <li>
                <a data-bind="attr: {href: url}, text: listName"></a>
            </li>
        </ul>
    </div>
</body>