#footerid.section-text-white.footer.footer-links.bg-darken {
    height: 230px;
    left: 0;
    bottom: 0;
    width: 100%;
}


@media (max-width: 780px) {
    #footerid {
        display: none;
        visibility: hidden;
    }
}

