#footerid.section-text-white.footer.footer-links.bg-darken {
    height: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}


@media (max-width: 1000px) {
    #footerid {
        display: none;
        visibility: hidden;
    }
}

