
.movie-line-entity{
    color: white;
}

a.content-link{
    color: white!important;
}

.info.info-short {
    color: white !important;
}

.top-block-content{
    height: 50px;
}

.page-breadcrumbs{
    color: white !important;
}

.section-title{
    color:white !important;
}

#searchforms.col-sm-6.col-lg-3{
    text-decoration-color: white !important;
}

.form-control {
    text-decoration-color: white !important;
}

.datetimepicker-input.form-control {
    text-decoration-color: white !important;
}

#footer.content-link {
    color:white !important;
}

.row {
    margin-left: -1px;
}

.section-pannel{
   padding: 0 !important;
   color: white;
}

#scrolltotop{

}