
html, body {
    height: 100%;
    background-color: black;    
}

#test {
    text-align: center;
    justify-content: center;
    float: right;
}


.searchcontainer{
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    display: block;
}
#searchbardiv.col-auto.align-items-center{
    background: rgba(255,138,0,0.7);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.85), rgba(0,0,0,0.85)) !important;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.85), rgba(0,0,0,0.85)) !important;
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.85), rgba(0,0,0,0.85)) !important;
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.85), rgba(0,0,0,0.85)) !important;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.85)) !important;
    position: relative;
    height: 400px;
    width: 100%;
    display: block;
}

#searchbartextandtitle.col-auto.align-items-center{
    height: 300px;
    justify-content: center !important;
    align-items: center !important;
    display: block;
}

#searchtitle.entity-title{
    color: white;
    top: 30%;
    width: auto;
    position:relative;
    margin: 0 auto; 
    padding: 10px 0;
    overflow: hidden;
    text-align:center;
    align-items: center;
    vertical-align: center !important;
    justify-content: space-around;
    float: none;
}






#searchbar.form-control:focus{
    
    transition: opacity 3s ease-in-out;
}

input[type="text"]::-webkit-input-placeholder  {
    -webkit-transition: opacity 0.3s linear;
    color: gray;
}

input[type="text"]:focus::-webkit-input-placeholder  {
    opacity: 0;
}

#ulid.li{
    list-style: none;
}


:root {
    --background-black: #2f3640;
    --background-red: red;

    --search-box-padding: 10px;
    --search-box-size: 40px;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: var(--search-box-size);
    width: var(--search-box-size);
    background-color: var(--background-black);
    border-radius: 50%;
    padding: var(--search-box-padding);
    cursor: pointer;
}

.search-box > .fa-search {
    padding: var(--search-box-padding);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    color: var(--background-red);
}

.search-box:hover > .fa-search {
    background: white;
}

.search-txt {
    position: absolute;
    top: var(--search-box-padding);
    left: calc(var(--search-box-size) + var(--search-box-padding));
    border: none;
    outline: none;
    padding: 0;
    height: var(--search-box-size);
    width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: var(--background-black);
    color: white;
    font-size: 16px;
    transition: 0.4s width, 0.4s padding;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 0.75rem;
}