<div class="d-background" data-parallax="scroll"></div>
<div class="mt-auto container position-relative">
    <div id="searchbartextandtitle" class="col-auto align-items-center">
        <h1 id="searchtitle" class="entity-title">Search for movies, actors etc...</h1>
        <input list="results" id="searchbar" class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" value=""/>
        <div id="cleardiv" style="position: absolute">
        <datalist id="results">
                <div data-bind="foreach: personData">
                    <option>
                <a data-bind="attr: { href: url}"><li data-bind="text: name"></li></a>
                    </option>
                </div>
                <div data-bind="foreach: titleData">
                    <option>
                    <a data-bind="attr: { href: url}"><li data-bind="text: primaryTitle"></li></a>
                    </option>
                </div>
                <div data-bind="foreach: genreData">
                    <option>
                    <a data-bind="attr: { href: url}"><li data-bind="text: name"></li></a>
                    </option>
                </div>
                <div data-bind="foreach: professionData">
                    <option>
                    <a data-bind="attr: { href: url}"><li data-bind="text: professionName"></li></a>
                    </option>
                </div>
        </datalist>
        </div>
    </div>
    <div class="top-block-head text-uppercase" style="text-align:center;">
        <h2 class="display-4">
            Featured
            <span class="text-theme">Movies</span>
        </h2>
    </div>
</div>

<div id="recentActivities"></div>

<section class="cssCarousel">
    <input type="radio" name="carousel-1" id="item-0" />
    <input type="radio" name="carousel-1" id="item-1" />
    <input type="radio" name="carousel-1" id="item-2" />
    <input type="radio" name="carousel-1" id="item-3" />
    <input type="radio" name="carousel-1" id="item-4" />
    <input type="radio" name="carousel-1" id="item-5" />
    <input type="radio" name="carousel-1" id="item-6" />
    <input type="radio" name="carousel-1" id="item-7" />
    <input type="radio" name="carousel-1" id="item-8" />
    <input type="radio" name="carousel-1" id="item-9"/>
    <div class="cssCarousel__viewport">
        <ul class="cssCarousel--10-items" data-bind="foreach: poster">
            <li>
                <label data-bind="attr: { for : 'item-' + $index() }">
                    <img id="imghover" data-bind="attr:{src: poster}"/>
                </label>
                    <div class="section cssCarousel--showOnFocus">
                        <p>Link her?</p>
                    </div>
            </li>
        </ul>
    </div>
</section>
