@page
@using DataService.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    @{
        PersonDataService PersonDataService = new PersonDataService();
        var actorName = PersonDataService.GetPerson("nm000001");
    }
    <p>Actor = @actorName</p>
</div>
