<!--------------------------------------->
<!--           TITLE PAGE              -->
<!--------------------------------------->
<div>
    <section class="after-head d-flex section-text-white position-relative">
        <div class="top-block top-inner container">
            <div class="top-block-content">
                <div data-bind="foreach: tListData">
                    <h1 class="section-title" data-bind="text: listName"></h1>
                    <h4 class="entity-title">
                        Created by: <span data-bind="text: username"></span>
                    </h4>
                </div>
                <div class="page-breadcrumbs">
                    <a class="content-link" href="#">Home</a>
                    <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                    <span>Profile</span>
                    <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                    <span>Title-List</span>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section-long">   <!-- GENRES CONFIG HERE-->
    <div class="container">
        <div class="section-pannel">
            <div class="grid row">
                    <table>
                        <tbody data-bind="foreach: tBookmarks" style="width: 100%; display: table; padding-bottom: 15px; !important;">
                        <tr valign="top">
                            <th scope="row">
                                <img width="150px" height="150px" data-bind="attr:{src: poster} ">
                            </th>
                            <td valign="top" style="width: 140px">
                                <h4 class="entity-title">
                                    <a class="gotomovie" href="#" data-bind="value: titleId"><span
                                            data-bind="text: titleName"></span></a>
                                </h4>
                            </td>
                            <td valign="top">
                                <div data-bind="text: plot"></div>
                            </td>
                            <td>
                                <button href="#" class="deleteBookmark btn btn-warning" data-bind="value: id">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!--------------------------------------->
<!--           TITLE PAGE              -->
<!--------------------------------------->


<!--------------------------------------->
<!--           PERSON PAGE             -->
<!--------------------------------------->

<section class="section-long">   <!-- GENRES CONFIG HERE-->
    <div class="container">.
        <div class="section-pannel">
            <div class="grid row">
                    <table>
                        <tbody data-bind="foreach: pBookmarks" style="width: 100%; display: table; padding-bottom: 15px; !important;">
                        <tr valign="top">
                            <th scope="row">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="orange" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </th>
                            <td  style="width: 200px; text-align: center; !important;">
                                <h4 class="entity-title">
                                    <a class="gotomovie" href="#" data-bind="value: person_Id"><span
                                            data-bind="text: personName"></span></a>
                                </h4>
                            </td>
                            <td style="width: 140px; text-align: center; !important;">
                                <div data-bind="text: birthYear"></div>
                            </td>
                            <td style="width: 140px; text-align: center; !important;">
                                <button href="#" class="deleteBookmark btn btn-warning" data-bind="value: id">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>


<div data-bind="foreach: pListData">
    <h1 data-bind="text: listName"></h1>
    created by: <span data-bind="text: username"></span>
    <br>
</div>

<dl data-bind="foreach: pBookmarks">
    <dt>
        <a href="#" class="goToPeoplePage" data-bind="value: person_Id, text: personName"></a>
        (Born: <span data-bind="text: birthYear"></span>)
    </dt>
    <img width="67px" height="98px"
         src="https://www.nacdnet.org/wp-content/uploads/2016/06/person-placeholder-300x300.jpg">
    <a href="#" class="deleteBookmark" data-bind="value: id">Delete from list</a>
    <br>
</dl>

<br>
<br>
<a type=button href="#" class="btn btn-primary" id="gotonewlist">CREATE A NEW LIST</a>
<br>
<br>
</div>
    
