    <style>
        .loginContainer{
            border-radius: 5px;
            padding: 20px;
            justify-content: center !important;
            text-align:center !important;
        }
        
        .api_login_form{
            border-radius: 5px;
            padding: 20px;
            justify-content: center !important;
            text-align:center !important;
            display: grid;
        }

        .usernameBox {
            width: 400px;
            outline: none;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            text-align:center;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
        }
        .emailBox{
            outline: none;
            padding: 12px 20px;
            text-align:center;
            margin: 8px 0;
            display: block;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
        }
        .passwordBox {
            outline: none;
            padding: 12px 20px;
            text-align:center;
            margin: 8px 0;
            display: block;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
        }

        #loginButton{
            top: 25px;
            position:relative;
            width:50%;
            right:25% !important;
            left: 25% !important; 
        }
        
        #formFooter{
            top: 25px;
            position:relative;
        }
        
        
    </style>
    <div class="loginContainer">
        <form class="api_login_form" style="padding: 35px">
            <label for="username" class="entity-title" style="font-size: 28px; color:white;">Username</label>
            <input class="usernameBox" type="text" id="username" required name="username" placeholder="...">
            <label for="email" class="entity-title" style="font-size: 28px; color:white;">Email</label>
            <input class="emailBox" type="email" id="email" required name="email" placeholder="...">
            <label for="password" class="entity-title" style="font-size: 28px; color:white;">Password</label>
            <input class="passwordBox" type="password" id="password" required name="password" placeholder="...">
            <button id="loginButton" type="submit" value="Log In" class="btn btn-warning btn-rounded entity-title" style="font-size: 24px">Login</button>
            <div id="formFooter">
                <a class="underlineHover info-text" href="#" id="gotoforgotpw">Forgot Password?</a>
                <br>
                <a class="underlineHover info-text" href="#" id="gotoregisterpage">Not yet a user? Click me!</a>
            </div>
        </form>
    </div>