<!DOCTYPE html>
<html lang="en">
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #3e8e41;} 
</style>

<head>
    <meta charset="UTF-8">
    <title>Your Ratings</title>
    <script type="text/javascript">
        function updateRating(){
            let one = document.getElementById("one").value;
            alert("Updated rating to: "+ one);
        }
    </script>
</head>
<body>
    <h1>Your Ratings</h1>
    <div>
        For MOVIE & PERSON lists press <a href="YourLists.html">here</a>
        <br>
        <div>Showing all of your ratings here: </div>
        <ul data-bind="foreach: userRatingList">
            <li>
                <a data-bind="attr: {href: url}, text: title_id"></a>
                <!--<span data-bind="text: title_Id">&ensp;</span>-->
                <br>
                <div class="dropdown">
                Rating: <button class="dropbtn" data-bind="text: rating" ></button>
                    <div class="dropdown-content">
                        <a data-bind="attr: {href: updateUrl+1}, text: 1"></a>
                        <a data-bind="attr: {href: updateUrl+2}, text: 2"></a>
                        <a data-bind="attr: {href: updateUrl+3}, text: 3"></a>
                        <a data-bind="attr: {href: updateUrl+4}, text: 4"></a>
                        <a data-bind="attr: {href: updateUrl+5}, text: 5"></a>
                        <a data-bind="attr: {href: updateUrl+6}, text: 6"></a>
                        <a data-bind="attr: {href: updateUrl+7}, text: 7"></a>
                        <a data-bind="attr: {href: updateUrl+8}, text: 8"></a>
                        <a data-bind="attr: {href: updateUrl+9}, text: 9"></a>
                        <a data-bind="attr: {href: updateUrl+10}, text: 10"></a>                        
                    </div>
                </div>
                <br>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <form class="api_register_form" method="POST" > <!--  name="register" method="POST"  action="http://localhost:5001/api/user/register""-->
        <input  type="text"      id="surname"    class="fadeIn first"   required name="surname"   placeholder="First Name" value="asx"> <!--pattern="[A-Za-z]"-->
        <input  type="text"      id="lastname"  class="fadeIn second"  required name="lastname"  placeholder="Last Name"  value="asd"> <!--pattern="[A-Za-z]"-->
        <input  type="number"    id="age"        class="fadeIn third"   required name="age"      placeholder="Age" min="1" max="99" value="10">
        <input  type="email"     id="email"      class="fadeIn fourth"  required  name="email"     placeholder="Email"      value="asd@asd.dk">
        <input  type="text"      id="username"   class="fadeIn fifth"   required name="username"     placeholder="Username"   value="asd123">
        <input  type="password"  id="password"   class="fadeIn sixth"   required name="password"     placeholder="Password">
        <input type="submit" class="serializeArray" >
        <!--<script src="register.js"></script> -->
    </form>
    
    <pre></pre>
    <script type="text/javascript">
     const serialize_form = form => JSON.stringify(
         Array.from(new FormData(form).entries())
             .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
     );
     $(".api_register_form").submit(function(e){
         e.preventDefault();
         const json = serialize_form(this);
         console.log(json);
         $.ajax({
           type: 'POST',
           url: 'http://localhost:5001/api/user/register',
           dataType: 'json',
           data: json,
           contentType: 'application/json',
           success: function(data) {
             alert(data)
           }
         });
     });
    </script>
    <!--<script data-main="js/userRatingConfig.js" src="/lib/node_modules/require.js/require.js"></script>-->
</body>
</html>